{% extends "base.html"%}
{%block content%}

<!-- navbar begin -->
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">All products <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%for brand in brands%}
            <a class="dropdown-item" href="{{url_for('get_brand', id = brand.id)}}">{{brand.name}}</a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%for category in categories%}
            <a class="dropdown-item" href="{{url_for('get_category', id = category.id)}}">{{category.name}}</a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin">Vendor Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="1">Cart ({{session['Shoppingcart']|length}})</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
<!-- navbar ends -->

<div class="container">
    <div class="row">

        {%if brand%}
        {% for b in brand.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top" height="200">
                <div class="card-body">
     
                    <h5 class="text-cent">{{b.name}}</h5>
                    <p class="text-cent">Price ₹{{b.price}}</p>
                    {%if b.discount >0 %}
                    <p class="text-mt-3 danger">Discount: {{b.discount}}%</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=b.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('AddCart')}}" method="post">
                      <input type="hidden" name="product_id" value="{{b.id}}">
                      <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                      
                      <input type="hidden" name="quantity" id="" value="1">
                      {% set colors = b.color.split(',') %}
                     
                      <select name="colors" id="colors" style="visibility: hidden;">
                          {% for color in colors %}
                          {% set col = color.split(':') %}
                          <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                          {% endfor %}
                      </select>
                  </form>
                
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
      <div class="col text-center">
        {% if brand.has_prev %}
        <a href="{{url_for('get_brand', id=get_b.id,  page=brand.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
        {% endif %} 
        {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
        {%if page_num %}
        {% if brand.page == page_num %}
        <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
        {% else %}
        <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
        {% endif %}
        {%else%}
        ...
        {% endif %}
        {% endfor %}
  
        {% if brand.has_next %}
        <a href="{{url_for('get_brand', id=get_b.id, page=brand.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
        {% endif %}
      </div>


    <div class="row">
        {% elif gat_cat_prod %}
        {% for gat_cat in gat_cat_prod.items %}
        
        <div class="col-md-3 mt-3">
          <div class="card">
              <img src="{{url_for('static',filename='images/' + gat_cat.image_1)}}" alt="{{gat_cat.name}}" class="card-img-top" height="200">
              <div class="card-body">
   
                  <h5 class="text-cent">{{gat_cat.name}}</h5>
                  <p class="text-cent">Price ₹{{gat_cat.price}}</p>
                  {%if gat_cat.discount >0 %}
                  <p class="text-mt-3 danger">Discount: {{gat_cat.discount}}%</p>
                  {% endif %}
              </div>
              <div class="card-footer">
                  <a href="{{url_for('single_page', id=get_cat.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                  <form action="{{url_for('AddCart')}}" method="post">
                    <input type="hidden" name="product_id" value="{{get_cat.id}}">
                    <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                    
                    <input type="hidden" name="quantity" id="" value="1">
                    {% set colors = get_cat.colors.split(',') %}
                   
                    <select name="colors" id="colors" style="visibility: hidden;">
                        {% for color in colors %}
                        {% set col = color.split(':') %}
                        <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                        {% endfor %}
                    </select>
                </form>
              
              </div>
          </div>
      </div>
        {% endfor %}
  </div>
  <div class="row">
    <div class="col text-center">
      {% if gat_cat_prod.has_prev %}
      <a href="{{url_for('get_category', id=get_cat.id,  page=gat_cat_prod.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
      {% endif %}
      {% for page_num in gat_cat_prod.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
      {%if page_num %}
      {% if gat_cat_prod.page == page_num %}
      <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
      {% else %}
      <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
      {% endif %}
      {%else%}
      ...
      {% endif %}
      {% endfor %}

      {% if gat_cat_prod.has_next %}
      <a href="{{url_for('get_category', id=get_cat.id, page=gat_cat_prod.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
      {% endif %}
    </div>



  <div class="row">
        {%else%}
        {% for product in products.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
                <div class="card-body">
     
                    <h5 class="text-cent">{{product.name}}</h5>
                    <p class="text-cent">Price ₹{{product.price}}</p>
                    {%if product.discount >0 %}
                    <p class="text-mt-3 danger">Discount: {{product.discount}}%</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('AddCart')}}" method="post">
                      <input type="hidden" name="product_id" value="{{product.id}}">
                      <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                      
                      <input type="hidden" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                      {% set colors = product.colors.split(',') %}
                     
                      <select name="colors" id="colors" style="visibility: hidden;">
                          {% for color in colors %}
                          {% set col = color.split(':') %}
                          <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                          {% endfor %}
                      </select>
                  </form>
                
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="row">
        <div class="col text-center">
          {% if products.has_prev %}
          <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
          {% endif %}
          {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
          {%if page_num %}
          {% if products.page == page_num %}
          <a href="{{url_for('home', page=page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
          {% else %}
          <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
          {% endif %}
          {%else%}
          ...
          {% endif %}
          {% endfor %}

          {% if products.has_next %}
          <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
          {% endif %}
        </div>

      </div>
        {%endif %}
    </div>
</div>
{%endblock content%}